/* .a {
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
}

.b {
    font-weight: 400
}

.c {
    background-color: rgba(255, 255, 255, 1)
}

.l {
    height: 100vh
}

.m {
    width: 100vw
}

.n {
    display: flex
}

.o {
    align-items: center
}

.p {
    justify-content: center
}

.q {
    height: 25px
}

.r {
    fill: rgba(41, 41, 41, 1)
}

.s {
    display: block
}

.t {
    position: sticky
}

.u {
    top: 0
}

.v {
    z-index: 500
}

.w {
    padding: 0
}

.x {
    border-bottom: solid 1px #F2F2F2
}

.af {
    height: 41px
}

.ag {
    line-height: 20px
}

.ah {
    margin-left: 8px
}

.ai {
    color: #6B6B6B
}

.aj {
    fill: inherit
}

.ak {
    font-size: 13px
}

.al {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.am {
    letter-spacing: inherit
}

.an {
    margin: 0
}

.ao {
    cursor: pointer
}

.ap:disabled {
    cursor: not-allowed
}

.aq:disabled {
    color: #6B6B6B
}

.ar:disabled {
    fill: #6B6B6B
}

.au {
    height: 100%
}

.av {
    padding: 0 24px
}

.aw {
    height: 57px
}

.ax {
    flex: 1 0 auto
}

.ay {
    color: inherit
}

.az {
    font-size: inherit
}

.ba {
    border: inherit
}

.bb {
    font-family: inherit
}

.bc {
    font-weight: inherit
}

.bd {
    margin-left: 16px
}

.be {
    border: none
}

.bf {
    border-radius: 20px
}

.bg {
    width: 240px
}

.bh {
    background: #F9F9F9
}

.bi path {
    fill: #6B6B6B
}

.bk {
    outline: none
}

.bl {
    font-size: 14px
}

.bm {
    width: 100%
}

.bn {
    padding: 10px 20px 10px 0
}

.bo {
    background-color: transparent
}

.bp {
    color: #242424
}

.bq::placeholder {
    color: #6B6B6B
}

.br {
    display: inline-block
}

.bs {
    margin-left: 12px
}

.bt {
    margin-right: 12px
}

.bx {
    margin-right: 32px
}

.by {
    position: relative
}

.bz {
    fill: #6B6B6B
}

.cc {
    background: transparent
}

.cd svg {
    margin-left: 4px
}

.ce svg {
    fill: #6B6B6B
}

.cg {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05)
}

.ch {
    border-radius: 50%
}

.ci {
    height: 32px
}

.cj {
    width: 32px
}

.ck {
    position: absolute
}

.cm {
    box-sizing: border-box
}

.cn {
    background-color: #F2F2F2
}

.co {
    margin: auto
}

.cp {
    max-width: 1336px
}

.cq {
    flex-direction: row
}

.cr {
    justify-content: space-evenly
}

.cy {
    flex: 1 1 auto
}

.cz {
    min-width: 0
}

.da {
    margin: 0 24px
}

.de {
    padding-top: 80px
}

.df {
    animation: k1 1.2s ease-in-out infinite
}

.dg {
    margin-bottom: 16px
}

.dh {
    align-items: flex-start
}

.di {
    justify-content: space-between
}

.dj {
    margin-bottom: 20px
}

.dk {
    border-radius: 10px
}

.dl {
    margin-right: 8px
}

.dm {
    height: 20px
}

.dn {
    width: 20px
}

.do {
    height: 8px
}

.dp {
    width: 82px
}

.dq {
    margin-bottom: 12px
}

.dr {
    height: 16px
}

.ds {
    width: 80%
}

.dt {
    width: 65%
}

.du {
    height: 133px
}

.dv {
    width: 200px
}

.dw {
    display: none
}

.dx {
    padding-top: 50px
}

.dy {
    padding-right: 24px
}

.er {
    border-left: 1px solid #F2F2F2
}

.es {
    min-height: 100vh
}

.et {
    top: 57px
}

.eu {
    min-height: calc(100vh - 57px)
}

.ev {
    flex-direction: column
}

.ew {
    padding-bottom: 0px
}

.ex {
    border-bottom: none
}

.ey {
    margin-top: 40px
}

.ez {
    margin-bottom: 48px
}

.fa {
    width: 40%
}

.fb {
    margin-bottom: 14px
}

.fc {
    height: 18px
}

.fd {
    width: 90%
}

.fe {
    height: 14px
}

.ff {
    width: 75%
}

.fg {
    padding-bottom: 16px
}

.fh {
    font-weight: 500
}

.fi {
    font-size: 16px
}

.fj {
    letter-spacing: 0
}

.fk {
    flex-wrap: wrap
}

.fl {
    border-radius: 100px
}

.fm {
    margin-bottom: 10px
}

.fn {
    height: 40px
}

.fo {
    width: 100px
}

.fp {
    flex: 0 0 auto
}

.fq {
    width: 80px
}

.fr {
    margin-top: 14px
}

.fs {
    color: #1A8917
}

.ft {
    padding: 24px 0
}

.fu {
    margin-right: 6px
}

.fv {
    font-size: 11px
}

.fw {
    line-height: 16px
}

.fx {
    margin-bottom: 22px
}

.fy {
    padding-bottom: 20px
}

.fz {
    margin-bottom: 8px
}

.ga {
    overflow: hidden
}

.gb {
    max-height: 16px
}

.gc {
    text-overflow: ellipsis
}

.gd {
    display: -webkit-box
}

.ge {
    -webkit-line-clamp: 1
}

.gf {
    -webkit-box-orient: vertical
}

.gg {
    word-break: break-all
}

.gi {
    padding-right: 2px
}

.gj {
    margin-bottom: 0px
}

.gk {
    font-weight: 700
}

.as:hover:not(:disabled) {
    color: rgba(25, 25, 25, 1)
}

.at:hover:not(:disabled) {
    fill: rgba(25, 25, 25, 1)
}

.ca:hover {
    color: #242424
}

.cb:hover {
    fill: #242424
}

.cf:hover svg {
    fill: #242424
}

.cl:hover {
    background-color: none
}

.bj:focus-within path {
    fill: #242424
} */



.a {
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
}

.b {
    font-weight: 400
}

.c {
    background-color: rgba(255, 255, 255, 1)
}

.l {
    display: block
}

.m {
    position: sticky
}

.n {
    top: 0
}

.o {
    z-index: 500
}

.p {
    padding: 0 24px
}

.q {
    align-items: center
}

.r {
    border-bottom: solid 1px #F2F2F2
}

.y {
    height: 41px
}

.z {
    line-height: 20px
}

.ab {
    display: flex
}

.ac {
    height: 57px
}

.ae {
    flex: 1 0 auto
}

.af {
    color: inherit
}

.ag {
    fill: inherit
}

.ah {
    font-size: inherit
}

.ai {
    border: inherit
}

.aj {
    font-family: inherit
}

.ak {
    letter-spacing: inherit
}

.al {
    font-weight: inherit
}

.am {
    padding: 0
}

.an {
    margin: 0
}

.ao {
    cursor: pointer
}

.ap:disabled {
    cursor: not-allowed
}

.aq:disabled {
    color: #6B6B6B
}

.ar:disabled {
    fill: #6B6B6B
}

.au {
    height: 25px
}

.av {
    fill: rgba(41, 41, 41, 1)
}

.aw {
    margin-left: 16px
}

.ax {
    border: none
}

.ay {
    border-radius: 20px
}

.az {
    width: 240px
}

.ba {
    background: #F9F9F9
}

.bb path {
    fill: #6B6B6B
}

.bd {
    outline: none
}

.be {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.bf {
    font-size: 14px
}

.bg {
    width: 100%
}

.bh {
    padding: 10px 20px 10px 0
}

.bi {
    background-color: transparent
}

.bj {
    color: #242424
}

.bk::placeholder {
    color: #6B6B6B
}

.bl {
    display: inline-block
}

.bm {
    margin-left: 12px
}

.bn {
    margin-right: 12px
}

.bo {
    border-radius: 4px
}

.bp {
    margin-left: 24px
}

.bq {
    height: 24px
}

.bw {
    background-color: #F9F9F9
}

.bx {
    border-radius: 50%
}

.by {
    height: 32px
}

.bz {
    width: 32px
}

.ca {
    margin: auto
}

.cb {
    max-width: 1336px
}

.cc {
    flex-direction: row
}

.cd {
    justify-content: space-evenly
}

.ck {
    flex: 1 1 auto
}

.cl {
    height: 100vh
}

.cm {
    justify-content: center
}

.cn {
    padding-right: 24px
}

.df {
    box-sizing: border-box
}

.dg {
    border-left: 1px solid #F2F2F2
}

.dh {
    min-height: 100vh
}

.di {
    height: 100%
}

.dj {
    position: relative
}

.dm {
    margin-left: 8px
}

.dn {
    color: #6B6B6B
}

.do {
    font-size: 13px
}

.dr {
    margin-right: 32px
}

.ds {
    fill: #6B6B6B
}

.dv {
    background: transparent
}

.dw svg {
    margin-left: 4px
}

.dx svg {
    fill: #6B6B6B
}

.dz {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05)
}

.ea {
    position: absolute
}

.ec {
    background-color: #F2F2F2
}

.ed {
    min-width: 0
}

.ee {
    margin: 0 24px
}

.ei {
    padding-bottom: 32px
}

.ez {
    font-weight: 500
}

.fu {
    overflow: hidden
}

.fv {
    text-overflow: ellipsis
}

.fw {
    display: -webkit-box
}

.fx {
    -webkit-line-clamp: 1
}

.fy {
    -webkit-box-orient: vertical
}

.fz {
    word-break: break-all
}

.gb {
    box-shadow: inset 0 -1px 0 #F2F2F2
}

.gc {
    height: 39px
}

.gd {
    overflow-x: scroll
}

.ge {
    overflow-y: hidden
}

.gf {
    padding: 2px 0
}

.gg::-webkit-scrollbar {
    width: 0
}

.gh::-webkit-scrollbar {
    background: transparent
}

.gi {
    scrollbar-width: none
}

.gj {
    -ms-overflow-style: none
}

.gk {
    padding: 0px
}

.gm {
    padding-bottom: 16px
}

.gn {
    border-bottom: 1px solid #242424
}

.go {
    min-width: max-content
}

.gp {
    border-bottom: 1px solid #F2F2F2
}

.gq {
    margin-right: 50px
}

.gr {
    right: 0
}

.gs {
    bottom: 12px
}

.gt {
    padding-left: 42px
}

.gu {
    pointer-events: none
}

.gv {
    opacity: 0
}

.gw {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 75%)
}

.gx {
    margin: 2px
}

.gy svg path {
    fill: #6B6B6B
}

.ha {
    left: 0
}

.hb {
    padding-right: 42px
}

.hc {
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 1) 75%)
}

.hd {
    margin: 32px 0
}

.he {
    text-align: left
}

.hf {
    justify-content: space-between
}

.hg[data-settings-arrow] path {
    fill: #6B6B6B
}

.hj {
    margin-left: 32px
}

.hk {
    align-items: baseline
}

.hl {
    margin: auto 0
}

.hm {
    flex: 1 1 0
}

.hn {
    vertical-align: bottom
}

.ho {
    white-space: nowrap
}

.hp {
    text-align: right
}

.hq {
    max-width: 200px
}

.hr {
    max-width: 350px
}

.hs {
    margin-top: 4px
}

.ht {
    white-space: pre-line
}

.hu {
    padding-left: 8px
}

.hv {
    display: inline-flex
}

.hw {
    display: grid
}

.hx {
    align-items: end
}

.hy {
    grid-template-columns: repeat(1, 50.0%)
}

.hz {
    width: 24px
}

.ia {
    z-index: 1
}

.ib {
    box-shadow: none
}

.ic {
    height: 0px
}

.id {
    color: #C94A4A
}

.ie {
    top: 57px
}

.if {
    min-height: calc(100vh - 57px)
}

.ig {
    flex-direction: column
}

.ih {
    margin-bottom: 32px
}

.ii {
    margin-top: 64px
}

.ij {
    font-weight: 700
}

.ik {
    font-size: 16px
}

.il {
    letter-spacing: 0
}

.im {
    margin-bottom: 16px
}

.in {
    padding: 24px 0
}

.io {
    flex-wrap: wrap
}

.ip {
    margin-right: 6px
}

.iq {
    font-size: 11px
}

.ir {
    line-height: 16px
}

.as:hover:not(:disabled) {
    color: rgba(25, 25, 25, 1)
}

.at:hover:not(:disabled) {
    fill: rgba(25, 25, 25, 1)
}

.dt:hover {
    color: #242424
}

.du:hover {
    fill: #242424
}

.dy:hover svg {
    fill: #242424
}

.eb:hover {
    background-color: none
}

.gl:hover {
    color: #000000 !important
}

.gz:hover svg path {
    fill: #000000
}

.hh:hover [data-settings-page-field-children] {
    color: #000000
}

.hi:hover [data-settings-arrow] path {
    fill: #000000
}

.bc:focus-within path {
    fill: #242424
}
.d {
    display: none
}

.bv {
    width: 64px
}

.ce {
    max-width: 728px
}

.cf {
    min-width: 728px
}

.db {
    padding-left: clamp(24px, 24px + 100vw - 1080px, 40px)
}

.dc {
    display: block
}

.dd {
    min-width: 368px
}

.de {
    max-width: 368px
}

.dq {
    display: flex
}

.eh {
    max-width: 680px
}

.es {
    margin-bottom: 48px
}

.et {
    margin-top: 52px
}

.ey {
    margin-bottom: 56px
}

.fq {
    font-size: 42px
}

.fr {
    line-height: 52px
}

.fs {
    max-height: 52px
}

.ft {
    letter-spacing: -0.011em
}
.e {
    display: none
}
.f {
    display: none
}
.g {
    display: none
}
.h {
    display: none
}

.s {
    display: flex
}

.t {
    justify-content: space-between
}

.br {
    width: 24px
}

.cj {
    min-width: 0
}

.co {
    padding-left: 24px
}

.cp {
    min-width: 352px
}

.cq {
    max-width: 352px
}

.dk {
    justify-content: center
}

.ej {
    margin-bottom: 24px
}

.ek {
    margin-top: 24px
}

.eu {
    margin-bottom: 32px
}

.fa {
    font-size: 24px
}

.fb {
    line-height: 30px
}

.fc {
    max-height: 30px
}

.fd {
    letter-spacing: -0.016em
}
.i {
    display: none
}

.bu {
    width: 64px
}

.cg {
    min-width: 0
}

.cx {
    padding-left: 24px
}

.cy {
    display: block
}

.cz {
    min-width: 352px
}

.da {
    max-width: 352px
}

.dp {
    display: flex
}

.eg {
    max-width: 680px
}

.eq {
    margin-bottom: 48px
}

.er {
    margin-top: 52px
}

.ex {
    margin-bottom: 56px
}

.fm {
    font-size: 42px
}

.fn {
    line-height: 52px
}

.fo {
    max-height: 52px
}

.fp {
    letter-spacing: -0.011em
}
.j {
    display: none
}

.w {
    display: flex
}

.x {
    justify-content: flex-end
}

.bt {
    width: 64px
}

.ch {
    min-width: 0
}

.cu {
    padding-left: 24px
}

.cv {
    min-width: 352px
}

.cw {
    max-width: 352px
}

.ef {
    max-width: 680px
}

.eo {
    margin-bottom: 48px
}

.ep {
    margin-top: 52px
}

.ew {
    margin-bottom: 56px
}

.fi {
    font-size: 42px
}

.fj {
    line-height: 52px
}

.fk {
    max-height: 52px
}

.fl {
    letter-spacing: -0.011em
}
.k {
    display: none
}
.kz {
    width: 552px;
}
.ky {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
}
.kx {
    padding: 32px 40px 40px;
}

.u {
    display: flex
}

.v {
    justify-content: space-between
}

.bs {
    width: 24px
}

.ci {
    min-width: 0
}

.cr {
    padding-left: 24px
}

.cs {
    min-width: 352px
}

.ct {
    max-width: 352px
}

.dl {
    justify-content: center
}

.el {
    margin-bottom: 24px
}

.em {
    margin-top: 24px
}

.ev {
    margin-bottom: 32px
}

.fe {
    font-size: 24px
}

.ff {
    line-height: 30px
}

.fg {
    max-height: 30px
}

.fh {
    letter-spacing: -0.016em
}
.ga {
    max-height: none
}
